<form class="form-inline" role="form">
  <div class="form-group">
	 <div class="input-group">
    	<span class="input-group-addon"><i for="startDate" class="glyphicon glyphicon-remove">test-------------</i></span>
	  </div>
  </div>
  </div>
</form>